In [1]:
import numpy as np

import pandas

data = pandas.read_csv('titanic.csv', index_col='PassengerId')
print(data[:10])

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C

In [2]:
data[0:1]['Sex']

PassengerId
1    male
Name: Sex, dtype: object

In [3]:
data.shape[0]

891

In [4]:
i=0
j=0
for k in range(data.shape[0]):
    if data[k:k+1]['Sex'].item() == 'male':
        i=i+1
    else:
        j=j+1
print (i)
print (j)

577
314

In [5]:
i=0
for k in range(data.shape[0]):
    if data[k:k+1]['Survived'].item() == 1:
        i+=1
print (float(i)/float(data.shape[0]))

0.3838383838383838

In [7]:
data[data['Sex'] == 'male']

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
data['Survived'].value_counts(normalize=True)*100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [61]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [70]:
import numpy
np.mean(data['Age'])
#np.median(data['Age'])

29.69911764705882

In [73]:
np.nanmedian(data['Age'])

28.0

In [74]:
data['SibSp'].corr(data['Parch'])

0.4148376986201567

In [134]:
import re

str(data[1:2]['Name']).split()

['PassengerId',
 '2',
 'Cumings,',
 'Mrs.',
 'John',
 'Bradley',
 '(Florence',
 'Briggs',
 'Th...',
 'Name:',
 'Name,',
 'dtype:',
 'object']

In [43]:
from collections import Counter
a=[]
for k in range(data.shape[0]):
    if str(data[k:k+1]['Name']).split()[3] == 'Mrs.' or str(data[k:k+1]['Name']).split()[3] == 'Miss.':
        i=4
        while str(data[k:k+1]['Name']).split()[i] != 'Name:' and i<8:
                a.append(str(data[k:k+1]['Name']).split()[i])
                i+=1

print(Counter(a).most_common(1))
#print(sorted(a,key=a.count,reverse=True))

[('William', 15)]

In [29]:
i=0
for k in data['Name']:
    if 'Mr.' in k.split():
        i+=1
    else:
        if 'Master.' in k.split():
            i+=1
print (i)

557

In [30]:
a=['Mr.', 'Master.', 'Mrs.', 'Miss.']
for k in data['Name']:
    if not any(i in a for i in k.split()):
        print (k)

Uruchurtu, Don. Manuel E
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Minahan, Dr. William Edward
Carter, Rev. Ernest Courtenay
Moraweck, Dr. Ernest
Aubart, Mme. Leontine Pauline
Pain, Dr. Alfred
Reynaldo, Ms. Encarnacion
Peuchen, Major. Arthur Godfrey
Butt, Major. Archibald Willingham
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Kirkland, Rev. Charles Leonard
Stahelin-Maeglin, Dr. Max
Sagesser, Mlle. Emma
Simonius-Blumer, Col. Oberst Alfons
Frauenthal, Dr. Henry William
Weir, Col. John
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Crosby, Capt. Edward Gifford
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Brewe, Dr. Arthur Jackson
Leader, Dr. Alice (Farnham)
Reuchlin, Jonkheer. John George
Harper, Rev. John
Montvila, Rev. Juozas

In [31]:
data1=data[data['Sex'] == 'female']

In [34]:
data2=data1['Name']

In [35]:
print(data2)

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [47]:
import re
for k in data2:
    k1=k.split(".")[1]
    k2=re.split(r'[\(.\) ]+', k1)
    print(k2)

['', 'John', 'Bradley', 'Florence', 'Briggs', 'Thayer', '']
['', 'Laina']
['', 'Jacques', 'Heath', 'Lily', 'May', 'Peel', '']
['', 'Oscar', 'W', 'Elisabeth', 'Vilhelmina', 'Berg', '']
['', 'Nicholas', 'Adele', 'Achem', '']
['', 'Marguerite', 'Rut']
['', 'Elizabeth']
['', 'Hulda', 'Amanda', 'Adolfina']
['', 'Mary', 'D', 'Kingcome', '']
['', 'Julius', 'Emelia', 'Maria', 'Vandemoortele', '']
['', 'Fatima']
['', 'Anna', '"Annie"']
['', 'Torborg', 'Danira']
['', 'Carl', 'Oscar', 'Selma', 'Augusta', 'Emilia', 'Johansson', '']
['', 'Ellen', '"Nellie"']
['', 'William', 'Augustus', 'Marie', 'Eugenie', '']
['', 'Mary', 'Agatha']
['', 'Augusta', 'Maria']
['', 'Jamila']
['', 'Johan', 'Johanna', 'Persdotter', 'Larsson', '']
['', 'William', 'John', 'Robert', 'Dorothy', 'Ann', 'Wonnacott', '']
['', 'Simonne', 'Marie', 'Anne', 'Andree']
['', 'Margaret', 'Delia']
['', 'Bridget']
['', 'Josef', 'Josefine', 'Franchi', '']
['', 'Henry', 'Sleeper', 'Myna', 'Haxtun', '']
['', 'Lizzie', 'Elizabeth', 'Anne', 'Wilkinson', '']
['', 'Emily']
['', 'Constance', 'Mirium']
['', 'Amelie']
['', 'Elizabeth', 'Ramell', '']
['', 'Erna', 'Alexandra']
['', 'Lillian', 'Amy']
['', 'Elizabeth']
['', 'Brigdet', 'Delia']
['', 'Bertha']
['', 'Karl', 'Alfred', 'Maria', 'Mathilda', 'Gustafsson', '']
['', 'Mabel', 'Helen']
['', 'John', 'T', 'Ada', 'Julia', 'Bone', '']
['', 'Matilda']
['', 'Anna', 'Kristine']
['', 'Bertha']
['', 'Hileni']
['', 'Katriina']
['', 'Malake']
['', 'Ellis', 'Anna', 'Maria']
['', 'Susan']
['', 'Anna']
['', 'Alexander', 'A', 'Grace', 'Charity', 'Laury', '']
['', 'Leopold', 'Mathilde', 'Francoise', 'Pede', '']
['', 'Helen', 'Monypeny']
['', 'Joseph', 'Sultana', '']
['', 'Anna', 'Sofia']
['', 'Pekka', 'Pietari', 'Elin', 'Matilda', 'Dolck', '']
['', 'Robina', 'Maggie', '"Ruby"']
['', 'Thomas', 'Edith', 'Wearne', '']
['', 'Katherine', '"Katie"']
['', 'James', 'Elizabeth', '"Bessie"', 'Inglis', 'Milne', '']
['', 'Edith', 'Martha', 'Bowerman', '']
['', 'William', 'Anna', 'Bernhardina', 'Karlsson', '']
['', 'Eleanor', 'Ileen']
['', 'Ann', 'Elizabeth']
['', 'Constance', 'Gladys']
['', 'Luise', 'Gretchen']
['', 'Thomas', 'Johanna', '"Hannah"', 'Godfrey', '']
['', 'Rosa', '']
['', 'Carla', 'Christine', 'Nielsine']
['', 'James', 'Joseph', 'Margaret', 'Tobin', '']
['', 'Elise']
['', 'Margaret', '"Maggie"']
['', 'Henriette', '"Mrs', 'Harbeck"', '']
['', 'Telma', 'Matilda']
['', 'Helen', '"Ellen"']
['', 'Clear', 'Annie']
['', 'Madeleine']
['', 'Eliina']
['', 'Albina']
['', 'Mathilde']
['', 'Henry', 'Birkhardt', 'Irene', 'Wallach', '']
['', 'Lillian', 'Gertrud']
['', 'Alice', 'Phoebe']
['', 'Marjorie', '"Lottie"']
['', 'Thamine']
['', 'Katherine', '"Kate"']
['', 'Agda', 'Thorilda', 'Viktoria']
['', 'William', 'Anna', '']
['', 'Wilhelm', 'Elna', 'Matilda', 'Persson', '']
['', 'Viktor', 'Helena', 'Wilhelmina', '']
['', 'Darwis', 'Hanne', 'Youssef', 'Razi', '']
['', 'Gertrude', 'Maybelle']
['', 'Gladys']
['', 'Anna']
['', 'Lutie', 'Davis', '']
['', 'Delia']
['', 'William', 'Thompson', 'Edith', 'Junkins', '']
['', 'Amelia']
['', 'Elizabeth', 'Anne', 'Maidment', '']
['', 'Hanora', '"Nora"']
['', 'Kornelia', 'Theodosia']
['', 'Augusta', 'Charlotta']
['', 'Stanton', 'Rosa', 'Hunt', '']
['', 'Kate']
['', 'Ellen', '"Nellie"']
['', 'Dickinson', 'H', 'Helen', 'Walton', '']
['', 'Aloisia']
['', 'Helen', 'Loraine']
['', 'James', 'Helene', 'DeLaudeniere', 'Chaput', '']
['', 'Anna', 'Katherine', '"Annie', 'Kate"']
['', 'Nora', 'A']
['', 'Margaret']
['', 'Victor', 'de', 'Satode', 'Maria', 'Josefa', 'Perez', 'de', 'Soto', 'y', 'Vallejo', '']
['', 'Laura', 'Mabel']
['', 'Margaret', 'Bechstein']
['', 'Emily', 'Borie']
['', 'William', 'Anna', 'Sylfven', '']
['', 'Helmina', 'Josefina']
['', 'Sinai', 'Miriam', 'Sternin', '']
['', 'Mary', 'Natalie']
['', 'Frederic', 'Oakley', 'Margaretta', 'Corning', 'Stone', '']
['', 'Hilda', 'Mary']
['', 'Albert', 'Francis', 'Sylvia', 'Mae', 'Harbaugh', '']
['', 'Marie', 'Grice']
['', 'Ada', 'E', 'Hall', '']
['', 'Frank', 'John', 'Emily', 'Alice', 'Brown', '']
['', 'Jean', 'Gertrude']
['', 'Agnes']
['', 'Henry', 'William', 'Clara', 'Heinsheimer', '']
['', 'Elizabeth', 'Margaret']
['', 'Alice', 'Elizabeth']
['', 'Amelia', '"Mildred"']
['', 'Marion', 'Elsie']
['', 'Thomas', 'Henry', 'Mary', 'E', 'Finck', '']
['', 'Elsie', 'Edith']
['', 'Annie', 'Clemmer']
['', 'Mary']
['', 'Helen', 'Mary', '"Ellie"']
['', 'Catherine', 'David', '']
['', 'Frank', 'Manley', 'Anna', 'Sophia', 'Atkinson', '']
['', 'Mantoura', 'Boulos', '']
['', 'Annie']
['', 'Leontine', 'Pauline']
['', 'Stina', 'Viola']
['', 'Edgar', 'Joseph', 'Leila', 'Saks', '']
['', 'Aurora', 'Adelia']
['', 'Rosalie']
['', 'Maria', '"Mary"', '']
['', 'Alexander', 'Oskar', 'Mary', 'Aline', 'Towner', '']
['', 'Kate']
['', 'Bertha']
['', 'Marjorie']
['', 'Hjalmar', 'Agnes', 'Charlotta', 'Bengtsson', '']
['', 'Elina']
['', 'William', 'H', 'Jessie', 'L', '']
['', 'Mari', 'Aina']
['', 'Marija']
['', 'Ida']
['', 'Daisy', 'E']
['', 'Thomas', 'Annie', 'Louise', 'Rowley', '']
['', 'James', 'Vivian', 'Lulu', 'Thorne', 'Christian', '']
['', 'Lyyli', 'Karoliina']
['', 'Catharina']
['', 'Ernst', 'Gilbert', 'Anna', 'Sigrid', 'Maria', 'Brogren', '']
['', 'Charles', 'V', 'Ada', 'Maria', 'Winfield', '']
['', 'Kate', 'Florence', '"Mrs', 'Kate', 'Louise', 'Phillips', 'Marshall"', '']
['', 'Percival', 'Florence', 'Kate', 'White', '']
['', 'Charles', 'Alexander', 'Alice', 'Adelaide', 'Slow', '']
['', 'Lucile', 'Polk']
['', 'Doolina', 'Margaret', '"Daisy"']
['', 'Sidney', 'Emily', 'Hocking', '']
['', 'Benjamin', 'Esther', 'Ada', 'Bloomfield', '']
['', 'Encarnacion']
['', 'Madeleine', 'Violet']
['', 'Marie', 'Catherine']
['', 'Frederick', 'R', 'Marion', '']
['', 'Ellen']
['', 'Helene', 'Barbara']
['', 'Edwy', 'Arthur', 'Ada', 'Mary', 'Worth', '']
['', 'Amin', 'S', 'Marie', 'Marthe', 'Thuillard', '']
['', 'Ida', 'Sofia']
['', 'Hildur', 'E']
['', 'Hedwig', '']
['', 'Jeannie']
['', 'Frederick', 'Maxfield', 'Jane', 'Anne', 'Forby', '']
['', 'Elizabeth', 'Mussey']
['', 'Hudson', 'J', 'C', 'Bessie', 'Waldo', 'Daniels', '']
['', 'Mary']
['', 'Bridget', 'Mary']
['', 'Kristina', 'Sofia']
['', 'Roberta']
['', 'Frederick', 'Charles', 'Jane', 'Richards', '']
['', 'Martin', 'Elizabeth', 'L']
['', 'Amelia', 'Milley', '']
['', 'William', 'A', 'Florence', '"Mary"', 'Agnes', 'Hughes', '']
['', 'Anne']
['', 'Louis', 'Albert', 'Ida', 'Sophia', 'Fischer', '']
['', 'Lucy']
['', 'Phyllis', 'May']
['', 'Catherine', 'Catherine', 'Rizk', '']
['', 'Marija']
['', 'Eva', 'Miriam']
['', 'Bertha']
['', 'Hedwig', 'Margaritha']
['', 'Harriet', 'R']
['', 'Ingeborg', 'Constanzia']
['', 'Sigrid', 'Elisabeth']
['', 'Edward', 'Ethel', 'Clarke', '']
['', 'Velin']
['', 'Lucille', 'Christiana', 'Sutherland', '"Mrs', 'Morgan"', '']
['', 'Emil', 'Tillie', 'Mandelbaum', '']
['', 'Guillaume', 'Joseph', 'Emma', '']
['', 'Marion', 'Ogden', '']
['', 'Nils', 'Alma', 'Cornelia', 'Berglund', '']
['', 'Edward', 'Dale', 'Charlotte', 'Lamson', '']
['', 'Mary']
['', 'Ethel']
['', 'William', 'Baird', 'Alice', 'Munger', '']
['', 'Joseph', 'Maria', 'Elias', '']
['', 'Julie', 'Rachel']
['', 'John', 'Borland', 'Marian', 'Longstreth', 'Morris', '']
['', 'Ruth']
['', 'Walter', 'Bertram', 'Martha', 'Eustis', '']
['', 'Mary']
['', 'Jessie', 'Wills']
['', 'Sidney', 'Samuel', 'Amy', 'Frances', 'Christy', '']
['', 'Joseph', 'Juliette', 'Marie', 'Louise', 'Lafargue', '']
['', 'Elizabeth', 'W']
['', 'Anders', 'Johan', 'Alfrida', 'Konstantia', 'Brogren', '']
['', 'Margaret', 'Jane']
['', 'Alice']
['', 'William', 'Arthur', 'Cordelia', 'K', 'Stanlick', '']
['', 'Marion', 'Louise']
['', 'Gretchen', 'Fiske']
['', 'Mabel']
['', 'Mary']
['', 'Juha', 'Maria', 'Emilia', 'Ojala', '']
['', 'Emma']
['', 'Margit', 'Elizabeth']
['', 'Eugenie']
['', 'Amy', 'Zillah', 'Elsie']
['', 'Elsie']
['', 'Hanora', '"Norah"']
['', 'Hanora', '"Nora"']
['', 'John', 'Catherine', '']
['', 'Elmer', 'Zebley', 'Juliet', 'Cummins', 'Wright', '']
['', 'Thomas', 'William', 'Solomon', 'Elizabeth', 'Catherine', 'Ford', '']
['', 'Anna', 'Sofia']
['', 'Frederick', 'Augusta', 'Tyler', '']
['', 'Katie']
['', 'Georgette', 'Alexandra']
['', 'Manca']
['', 'Katherine', '"Katie"']
['', 'John', 'Jacob', 'Madeleine', 'Talmadge', 'Force', '']
['', 'Saiide']
['', 'Florence', '"Fannie"']
['', 'Alice']
['', 'Berthe', 'Antonine', '"Mrs', 'de', 'Villiers"', '']
['', 'Caroline', 'Louise']
['', 'Edwina', 'Celia', '"Winnie"']
['', 'Annie', 'Jessie', '"Nina"']
['', 'Peter', 'Henry', 'Lillian', 'Jefferys', '']
['', 'Margareth']
['', 'Pieta', 'Sofia']
['', 'Elisabeth', 'Walton']
['', 'Edward', 'Margaret', 'Ann', 'Watson', '']
['', 'Susan', 'Parker', '"Suzette"']
['', 'Anna']
['', 'Joan']
['', 'Samuel', 'Jane', 'Laver', '']
['', 'of', 'Lucy', 'Noel', 'Martha', 'Dyer-Edwards', '']
['', 'William', 'Ernest', 'Lucile', 'Polk', '']
['', 'John', 'C', 'Anna', 'Andrews', '']
['', 'Mary']
['', 'Mary', '']
['', 'Elizabeth', 'Eliza', 'Needs', '']
['', 'Virginia', 'Ethel']
['', 'Edward', 'Scott', 'Elisabeth', 'Walton', 'McMillan', '']
['', 'Banoura']
['', 'Albert', 'Adrian', 'Vera', 'Gillespie', '']
['', 'Anna', 'Sofia']
['', 'Stella', 'Anna']
['', 'Alice', 'Farnham', '']
['', 'Mara']
['', 'Jean', 'Baptiste', 'Rosalie', 'Paula', 'Govaert', '']
['', 'Harvey', 'Charlotte', 'Annie', 'Tate', '']
['', 'Ellen', 'Natalia']
['', 'Norman', 'Campbell', 'Bertha', 'Griggs', '']
['', 'Ebba', 'Iris', 'Alfrida']
['', 'Wendla', 'Maria']
['', 'Charles', 'Melville', 'Clara', 'Jennings', 'Gregg', '']
['', 'Beila', '']
['', 'George', 'Nelson', 'Martha', 'Evelyn', '']
['', 'Antoni', 'Selini', 'Alexander', '']
['', 'Sara', 'Rebecca']
['', 'Augusta']
['', 'Samuel', 'L', 'Edwiga', 'Grabowska', '']
['', 'Nourelain']
['', 'Mary', 'Conover']
['', 'Ernest', 'Courtenay', 'Lilian', 'Hughes', '']
['', 'Sam', 'Leah', 'Rosen', '']
['', 'George', 'Dennick', 'Mary', 'Hitchcock', '']
['', 'Solomon', 'Latifa', 'Qurban', '']
['', 'Frederick', 'Joel', 'Margaret', 'Welles', 'Barron', '']
['', 'Dorothy', 'Edith', '"Dolly"']
['', 'Karolina', '']
['', 'Asuncion']
['', 'Richard', 'Leonard', 'Sallie', 'Monypeny', '']
['', 'Samuel', 'Hannah', 'Wizosky', '']
['', 'Adele', 'Kiamie', '"Jane"']
['', 'Thomas', 'Jr', 'Lily', 'Alexenia', 'Wilson', '']
['', 'William', 'Imanita', 'Parrish', 'Hall', '']
['', 'Gerda', 'Ulrika']
['', 'William', 'Margaret', 'Norton', '']
['', 'Margaret', 'Edith']
['', 'Catherine', 'Helen', '"Carrie"']