In [131]:
import numpy as np
import pandas

In [132]:
data = pandas.read_csv('salary-train.csv')
print(data)
description = data['FullDescription']
location = data['LocationNormalized']
contract = data['ContractTime']
salary = data['SalaryNormalized']
#print(contract)

                                         FullDescription LocationNormalized  \
0      International Sales Manager London ****k  ****...             London
1      An ideal opportunity for an individual that ha...             London
2      Online Content and Brand Manager// Luxury Reta...  South East London
3      A great local marketleader is seeking a perman...            Dereham
4      Registered Nurse / RGN  Nursing Home for Young...   Sutton Coldfield
...                                                  ...                ...
59995  As a result of continued growth, First Class S...        Whitley Bay
59996  PHP / MVC Web Developer  MacclesfieldCirca ***...       Macclesfield
59997  Staff Nurse, Nursing Home, Baldock White Recru...            Baldock
59998  This is one of the best agency side opportunit...           The City
59999  Must have CSCS card must have asbestos awarene...             London

      ContractTime  SalaryNormalized
0        permanent             33000
1        permanent             50000
2        permanent             40000
3        permanent             22500
4              NaN             20355
...            ...               ...
59995     contract             26400
59996    permanent             26000
59997          NaN             24500
59998    permanent             65000
59999          NaN             23040

[60000 rows x 4 columns]

In [133]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [134]:
for k in description:
    k = k.lower()

In [135]:
print(description)

0        International Sales Manager London ****k  ****...
1        An ideal opportunity for an individual that ha...
2        Online Content and Brand Manager// Luxury Reta...
3        A great local marketleader is seeking a perman...
4        Registered Nurse / RGN  Nursing Home for Young...
                               ...
59995    As a result of continued growth, First Class S...
59996    PHP / MVC Web Developer  MacclesfieldCirca ***...
59997    Staff Nurse, Nursing Home, Baldock White Recru...
59998    This is one of the best agency side opportunit...
59999    Must have CSCS card must have asbestos awarene...
Name: FullDescription, Length: 60000, dtype: object

In [136]:
description = description.replace('[^a-zA-Z0-9]', ' ', regex = True)

In [137]:
print(description)

0        International Sales Manager London     k      ...
1        An ideal opportunity for an individual that ha...
2        Online Content and Brand Manager   Luxury Reta...
3        A great local marketleader is seeking a perman...
4        Registered Nurse   RGN  Nursing Home for Young...
                               ...
59995    As a result of continued growth  First Class S...
59996    PHP   MVC Web Developer  MacclesfieldCirca    ...
59997    Staff Nurse  Nursing Home  Baldock White Recru...
59998    This is one of the best agency side opportunit...
59999    Must have CSCS card must have asbestos awarene...
Name: FullDescription, Length: 60000, dtype: object

In [138]:
vectorizer = TfidfVectorizer(min_df = 5)
x_train = vectorizer.fit_transform(description)

In [139]:
print(x_train)

  (0, 9611)	0.04490546953101409
  (0, 20413)	0.0387030844464958
  (0, 11722)	0.024933985634032353
  (0, 18451)	0.05094142801730146
  (0, 3350)	0.02780917325280237
  (0, 7709)	0.051305209532239764
  (0, 12171)	0.019784060664418117
  (0, 22197)	0.020520635156015515
  (0, 7323)	0.07101020149740392
  (0, 2650)	0.03545174285205156
  (0, 9932)	0.056610755716966256
  (0, 22668)	0.02669865026604241
  (0, 8484)	0.06324665355859202
  (0, 11621)	0.052325445744513636
  (0, 729)	0.04195598980714451
  (0, 1237)	0.027657781597657527
  (0, 19269)	0.05547416136056606
  (0, 7094)	0.046308072679393346
  (0, 22696)	0.03842120306776972
  (0, 19369)	0.062300287754603965
  (0, 8222)	0.05853002898579397
  (0, 19504)	0.04001548405514181
  (0, 11849)	0.054256825090476454
  (0, 5700)	0.03416514657651014
  (0, 10064)	0.030482790607819672
  :	:
  (59998, 12439)	0.016958748933464957
  (59999, 379)	0.3987794212412799
  (59999, 17671)	0.3098359244673809
  (59999, 13265)	0.29244142263722717
  (59999, 3962)	0.2883820935634986
  (59999, 5274)	0.2462393628997595
  (59999, 3334)	0.21061449189522577
  (59999, 3648)	0.22594726713367067
  (59999, 11904)	0.17402731328321297
  (59999, 1612)	0.28792899653629384
  (59999, 1410)	0.1293604972387815
  (59999, 18693)	0.189278331537024
  (59999, 2396)	0.15566908372657629
  (59999, 13585)	0.26577907387816974
  (59999, 22592)	0.06452450330737976
  (59999, 9851)	0.16748634948204125
  (59999, 1968)	0.18144279171440908
  (59999, 9406)	0.17323186181941802
  (59999, 14776)	0.12754331599497468
  (59999, 17348)	0.08429189168292081
  (59999, 20886)	0.1634585304883056
  (59999, 22438)	0.05028259142994749
  (59999, 2224)	0.04979139035909137
  (59999, 20830)	0.08664339188506286
  (59999, 1270)	0.04328993444771371

In [140]:
data['LocationNormalized'].fillna('nan', inplace=True)

In [141]:
data['ContractTime'].fillna('nan', inplace=True)

In [142]:
from sklearn.feature_extraction import DictVectorizer

In [144]:
enc = DictVectorizer()
X_train_categ = enc.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [145]:
print(X_train_categ)

  (0, 2)	1.0
  (0, 957)	1.0
  (1, 2)	1.0
  (1, 957)	1.0
  (2, 2)	1.0
  (2, 1392)	1.0
  (3, 2)	1.0
  (3, 471)	1.0
  (4, 1)	1.0
  (4, 1495)	1.0
  (5, 1)	1.0
  (5, 422)	1.0
  (6, 2)	1.0
  (6, 1575)	1.0
  (7, 2)	1.0
  (7, 224)	1.0
  (8, 2)	1.0
  (8, 309)	1.0
  (9, 2)	1.0
  (9, 1392)	1.0
  (10, 0)	1.0
  (10, 86)	1.0
  (11, 2)	1.0
  (11, 639)	1.0
  (12, 2)	1.0
  :	:
  (59987, 1411)	1.0
  (59988, 1)	1.0
  (59988, 335)	1.0
  (59989, 2)	1.0
  (59989, 899)	1.0
  (59990, 2)	1.0
  (59990, 44)	1.0
  (59991, 2)	1.0
  (59991, 1665)	1.0
  (59992, 0)	1.0
  (59992, 957)	1.0
  (59993, 1)	1.0
  (59993, 957)	1.0
  (59994, 1)	1.0
  (59994, 679)	1.0
  (59995, 0)	1.0
  (59995, 1691)	1.0
  (59996, 2)	1.0
  (59996, 986)	1.0
  (59997, 1)	1.0
  (59997, 78)	1.0
  (59998, 2)	1.0
  (59998, 1531)	1.0
  (59999, 1)	1.0
  (59999, 957)	1.0

In [146]:
from scipy.sparse import hstack

In [149]:
matrix = hstack([x_train, X_train_categ])

In [150]:
print(matrix)

  (0, 9611)	0.04490546953101409
  (0, 20413)	0.0387030844464958
  (0, 11722)	0.024933985634032353
  (0, 18451)	0.05094142801730146
  (0, 3350)	0.02780917325280237
  (0, 7709)	0.051305209532239764
  (0, 12171)	0.019784060664418117
  (0, 22197)	0.020520635156015515
  (0, 7323)	0.07101020149740392
  (0, 2650)	0.03545174285205156
  (0, 9932)	0.056610755716966256
  (0, 22668)	0.02669865026604241
  (0, 8484)	0.06324665355859202
  (0, 11621)	0.052325445744513636
  (0, 729)	0.04195598980714451
  (0, 1237)	0.027657781597657527
  (0, 19269)	0.05547416136056606
  (0, 7094)	0.046308072679393346
  (0, 22696)	0.03842120306776972
  (0, 19369)	0.062300287754603965
  (0, 8222)	0.05853002898579397
  (0, 19504)	0.04001548405514181
  (0, 11849)	0.054256825090476454
  (0, 5700)	0.03416514657651014
  (0, 10064)	0.030482790607819672
  :	:
  (59987, 24272)	1.0
  (59988, 22862)	1.0
  (59988, 23196)	1.0
  (59989, 22863)	1.0
  (59989, 23760)	1.0
  (59990, 22863)	1.0
  (59990, 22905)	1.0
  (59991, 22863)	1.0
  (59991, 24526)	1.0
  (59992, 22861)	1.0
  (59992, 23818)	1.0
  (59993, 22862)	1.0
  (59993, 23818)	1.0
  (59994, 22862)	1.0
  (59994, 23540)	1.0
  (59995, 22861)	1.0
  (59995, 24552)	1.0
  (59996, 22863)	1.0
  (59996, 23847)	1.0
  (59997, 22862)	1.0
  (59997, 22939)	1.0
  (59998, 22863)	1.0
  (59998, 24392)	1.0
  (59999, 22862)	1.0
  (59999, 23818)	1.0

In [151]:
from sklearn.linear_model import Ridge

In [152]:
clf = Ridge(alpha=1, random_state=241)
clf.fit(matrix, salary)

Ridge(alpha=1, random_state=241)

In [153]:
data_test = pandas.read_csv('salary-test-mini.csv')
print(data_test)

                                     FullDescription LocationNormalized  \
0  We currently have a vacancy for an HR Project ...      Milton Keynes
1  A Web developer opportunity has arisen with an...         Manchester

  ContractTime  SalaryNormalized
0     contract               NaN
1    permanent               NaN

In [160]:
for k in data_test['FullDescription']:
    k = k.lower()
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
x_test = vectorizer.transform(data_test['FullDescription'])
print(x_test)

  (0, 22611)	0.07076798658158247
  (0, 22592)	0.016591021548534805
  (0, 22526)	0.018415945966083286
  (0, 22519)	0.08730626468795558
  (0, 22438)	0.025858069885677595
  (0, 22197)	0.020397448239528073
  (0, 21690)	0.032536389439527275
  (0, 21560)	0.026408087951643407
  (0, 21420)	0.06158932893422331
  (0, 21101)	0.03730723717240812
  (0, 21026)	0.026712487972516054
  (0, 20978)	0.0702908446569574
  (0, 20830)	0.17822716123272375
  (0, 20759)	0.027699362439400063
  (0, 20704)	0.029046662459520155
  (0, 20663)	0.026624783032779514
  (0, 20644)	0.025288225748652526
  (0, 20637)	0.037955972312494514
  (0, 20595)	0.1586922234233966
  (0, 20592)	0.02014397450874452
  (0, 20361)	0.01701041256661797
  (0, 20250)	0.051652743218131146
  (0, 20181)	0.10992960914813671
  (0, 19900)	0.07160234654903495
  (0, 19897)	0.04497597657873314
  :	:
  (1, 5393)	0.0335306394775892
  (1, 5343)	0.039971685281012755
  (1, 5284)	0.07282195222082213
  (1, 4403)	0.029441389570198533
  (1, 4095)	0.05589163863359445
  (1, 4064)	0.03872308462965789
  (1, 4057)	0.02665913777008868
  (1, 3350)	0.03878292753953019
  (1, 2397)	0.09718882499095947
  (1, 2299)	0.049177752995574184
  (1, 2272)	0.04880083447853211
  (1, 2224)	0.01796264062087948
  (1, 2164)	0.03172415872708448
  (1, 1928)	0.046618806104646936
  (1, 1762)	0.027670684617067523
  (1, 1657)	0.222026293877417
  (1, 1606)	0.01971319922560132
  (1, 1537)	0.06135352821070433
  (1, 1518)	0.0400873111528936
  (1, 1413)	0.0415614962597929
  (1, 1280)	0.11047288356270148
  (1, 1270)	0.21864064070691747
  (1, 1237)	0.038571795351665515
  (1, 658)	0.05999533482115053
  (1, 488)	0.045448708753724774

In [161]:
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))
print(X_test_categ)

  (0, 0)	1.0
  (0, 1040)	1.0
  (1, 2)	1.0
  (1, 997)	1.0

In [162]:
matrix_test = hstack([x_test, X_test_categ])
print(matrix_test)

  (0, 22611)	0.07076798658158247
  (0, 22592)	0.016591021548534805
  (0, 22526)	0.018415945966083286
  (0, 22519)	0.08730626468795558
  (0, 22438)	0.025858069885677595
  (0, 22197)	0.020397448239528073
  (0, 21690)	0.032536389439527275
  (0, 21560)	0.026408087951643407
  (0, 21420)	0.06158932893422331
  (0, 21101)	0.03730723717240812
  (0, 21026)	0.026712487972516054
  (0, 20978)	0.0702908446569574
  (0, 20830)	0.17822716123272375
  (0, 20759)	0.027699362439400063
  (0, 20704)	0.029046662459520155
  (0, 20663)	0.026624783032779514
  (0, 20644)	0.025288225748652526
  (0, 20637)	0.037955972312494514
  (0, 20595)	0.1586922234233966
  (0, 20592)	0.02014397450874452
  (0, 20361)	0.01701041256661797
  (0, 20250)	0.051652743218131146
  (0, 20181)	0.10992960914813671
  (0, 19900)	0.07160234654903495
  (0, 19897)	0.04497597657873314
  :	:
  (1, 4095)	0.05589163863359445
  (1, 4064)	0.03872308462965789
  (1, 4057)	0.02665913777008868
  (1, 3350)	0.03878292753953019
  (1, 2397)	0.09718882499095947
  (1, 2299)	0.049177752995574184
  (1, 2272)	0.04880083447853211
  (1, 2224)	0.01796264062087948
  (1, 2164)	0.03172415872708448
  (1, 1928)	0.046618806104646936
  (1, 1762)	0.027670684617067523
  (1, 1657)	0.222026293877417
  (1, 1606)	0.01971319922560132
  (1, 1537)	0.06135352821070433
  (1, 1518)	0.0400873111528936
  (1, 1413)	0.0415614962597929
  (1, 1280)	0.11047288356270148
  (1, 1270)	0.21864064070691747
  (1, 1237)	0.038571795351665515
  (1, 658)	0.05999533482115053
  (1, 488)	0.045448708753724774
  (0, 22861)	1.0
  (0, 23901)	1.0
  (1, 22863)	1.0
  (1, 23858)	1.0

In [165]:
prediction = clf.predict(matrix_test)
print(prediction)

[56571.48138865 37139.25921724]